<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" tools:node="remove" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" tools:node="remove" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />
    <application>
        <receiver android:name="com.carriez.flutter_hbb.BootReceiver" tools:node="remove" />
        <service android:name="com.carriez.flutter_hbb.InputService" tools:node="remove" />
        <service android:name="com.carriez.flutter_hbb.MainService" tools:node="remove" />
        <service android:name="com.carriez.flutter_hbb.FloatingWindowService" tools:node="remove" />
        <activity android:name="com.carriez.flutter_hbb.PermissionRequestTransparentActivity" tools:node="remove" />
        <activity android:name="com.carriez.flutter_hbb.MainActivity">
            <intent-filter tools:node="removeAll" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nikodesk" />
            </intent-filter>
        </activity>
    </application>
</manifest>
